*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: #F5F5F5;
    font-family: 'Smythe', sans-serif;
}

.container {
    min-width: 450px;
    max-width: 600px;
    margin-inline: auto;
}

.btn {
    display: block;
    font-family: 'Verdana', sans-serif;
    border: none;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.btn:active {
    transform: scale(0.95);
}

/* header */

header {
    background-color: #AAAAAA;
    background-image: url("./images/headerBackground.png");
    background-position: right;
    background-size: cover;
    background-blend-mode: multiply;
    color: #FFFFFF;
    padding: 3em;
}

.res-name {
    font-size: 2.5rem;
    font-weight: 400;
}

.slogan {
    font-size: 1.25rem;
}

/* offer */

.offer {
    background-color: red;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.06em;
    word-spacing: 0.06em;
    padding: 0.3em;
}

/* main */

main {
    background-color: #FFFFFF;
    padding: 3em;
}

.flex-row {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* menu */

.item-name,
.order-title {
    font-size: 1.75rem;
    font-weight: 400;
}

.ingredients {
    color: #8B8B8B;
    font-size: 1rem;
    margin-bottom: 1em;
}

.price {
    font-size: 1.25rem;
    margin-left: auto;
}

.btn-add {
    width: 50px;
    height: 50px;
    background-color: white;
    font-family: sans-serif;
    font-size: 2rem;
    border: 2px solid #DEDEDE;
    border-radius: 50%;
    margin-left: auto;
}

.btn-add:hover,
.btn-add:focus {
    background-color: #FFA500;
}

/* order */

.order-title {
    text-align: center;
    margin-bottom: 1em;
}

.btn-remove {
    background-color: white;
    font-size: 0.75rem;
    color: #BBBBBB;
}

.btn-remove:hover,
.btn-remove:focus {
    text-decoration: underline;
}

.discount {
    color: red;
    text-transform: uppercase;
}

.order-total {
    font-size: 2rem;
    font-weight: 400;
}

.thanks {
    background-color: #ECFDF5;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    color: #065F46;
    border-radius: 5px;
    padding: 1.5em;
}

/* horizontal row */

.menu-hr {
    border: 1px solid #D2D2D2;
    margin-block: 3em;
}

.order-hr {
    border: 1.5px solid #000000;
    margin-block: 1em;
}

/* modal */

.modal {
    top: 180px;
    max-width: unset;
    font-family: 'Verdana', sans-serif;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 100px #000000;
    padding: 1.5em;
    margin-inline: auto;
}

.modal-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-block: 1em 2em;
}

.modal input {
    display: block;
    font-family: inherit;
    font-size: 1.25rem;
    border: 1.5px solid #757575;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-block: 0.25em 1em;
    outline: none;
}

.btn-close {
    width: 50px;
    height: 50px;
    background-color: inherit;
    font-family: sans-serif;
    font-size: 2rem;
    border-radius: 50%;
    margin-left: auto;
}

.btn-close:hover,
.btn-close:focus {
    background-color: lightcoral;
}

.btn-submit {
    width: 100%;
    background-color: #16DB99;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 1.125em;
    margin-top: 2em;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #12b881;
}
